simulation/*.class
simulation/*.log

# sbt specific
simulation/.cache/
simulation/.history/
simulation/.lib/
simulation/dist/*
simulation/target/
simulation/lib_managed/
simulation/src_managed/
simulation/project/boot/
simulation/project/plugins/project/

# Scala-IDE specific
simulation/.scala_dependencies
simulation/.worksheet
simulation/.idea

null/

simulation/.bloop
simulation/.metals
simulation/metals.sbt
simulation/.vscode


visualization/venv
visualization/venv/*